@font-face {
    font-family: "PxPlus IBM VGA8";
    src:
      local("PxPlus IBM VGA8"),
      url("PxPlus_IBM_VGA8.ttf") format("truetype");
  }

.font-switcher {
    position: absolute;
    right: 1em;
    top: 1em;
}

body:has(#font-monospace:checked) {
    font-family: 'Monospace', sans-serif;
    font-size: 0.9rem;
}

body:has(#font-ibm:checked) {
    font-family: 'PxPlus IBM VGA8', serif;
}