:root {
  color-scheme: light dark;
  --main-bg-color: light-dark(#e7e5e5, #111111);
  --main-fg-color: light-dark(#000, #fff);
  --shadow: light-dark(#ccc, #333);
  --terminal-green: #33c819;
  --link-color: var(--terminal-green);
}

body {
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

@font-face {
  font-family: "PxPlus IBM VGA8";
  src:
    local("PxPlus IBM VGA8"),
    url("PxPlus_IBM_VGA8.ttf") format("truetype");
}

body:has(input#font-ibm:checked) {
  font-family: 'PxPlus IBM VGA8', sans-serif;
}

body:has(input#font-monospace:checked) {
  font-family: monospace;
  font-size: 0.9rem;
}

body:has(input#font-verdana:checked) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-left {
  float: left;
  padding: 1em;
}

.header-left img {
  width: 180px;
  aspect-ratio: 1 / 1;
  object-fit: fill;
}

.header-right {
  flex-grow: 1;
  text-align: center;
}

.header-right h1 {
  padding-top: 1em;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 1em;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  text-align: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-shadow: var(--shadow) 2px 2px;
}

#font-selector-open {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  font-size: 1.3em;
  background-color: var(--main-bg-color);
  border-color: var(--main-fg-color);
  border-width: 3px;
  border-radius: 0;
}

#font-selector {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  border: 1px solid var(--main-fg-color);
  padding: 0.5em;
}

#font-selector label{
  color: var(--terminal-green);
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em;
}

h2 a img {
  height: 1em;
  padding: 0;
  margin: 0;
}

h2 time {
  font-size: 0.8em;
  font-weight: lighter;
  color: var(--main-fg-color);
}